/* For Mobile */
@media only screen and (min-width:320px) {

    /* Homepage */
    .header {
        /* background-color: #c2d9f7; use instead a color from bootstrap */
    }

    body {
        margin: 0;
    }

    main {
        margin: 0;
        height: 80vh;
    }

    .logo {
        /* display: block;
        margin-left: auto;
        margin-right: auto;
        width: 25%;             defined by bootstrap*/
    }

    /* Removing underline from ul */
    nav li {
        list-style: none;
        font-size: 20px;
        font-family: 'Times New Roman', Times, serif;
    }

    nav li a {
        color: #f2f2f2;
        text-decoration: none;
    }

    #nav li {
        float: none;
    }

    #nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    h1 {
        color: white;
        font-size: 40px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        margin: 0;
    }

    h2 {
        color: red;
        font-family: monospace;
        text-align: center;
        font-size: 40px;
        margin: 0;
    }

    p {
        padding: 12px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        color: black;
        margin: 0%;
    }

    .landingpage {
        background-image: url(./images/bn1.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: inherit;
    }

    #landingpage-button {
        display: grid;
        grid-template-columns: 2fr 2fr;
    }

    .hire {
        background-color: black;
        /* black */
        border: none;
        color: white;
        margin: 20px;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        border-radius: 18px;
        font-size: 16px;
        transition-duration: 0.4s;
    }

    .hire:hover {
        background-color: #f44336;
        color: white;
    }

    .hire:active {
        box-shadow: 20px #666;
        transform: translateY(4px);
    }

    .work {
        background-color: white;
        color: black;
        border: 2px solid #e7e7e7;
        margin: 20px;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        border-radius: 14px;
        font-size: 16px;
        transition-duration: 0.4s;
    }

    .work:hover {
        background-color: #555555;
        color: white;
    }


    .me {
        width: 0;
    }

    /* About */
    .banner {
        background-image:
            /* bottom, image */
            url(./images/bn2.jpg);
        background-repeat: no-repeat;
        height: 100px;
        width: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
        background-size: cover;
        background-position: center;
    }

    .banner-text {
        top: 50%;
        left: 50%;
    }

    .about-wrap {
        background-image: url(./images/images.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: inherit;
    }

    .profile-card {
        display: none;
    }

    /* Portfilio */
    .portfolio-wrap {
        background-image: url(./images/images.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: auto;
    }

    .portfilo {
        width: 100%;
        height: auto;
    }

    .portfolio-card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 300px;
        margin: auto;
        text-align: center;
        font-family: arial;
    }

    footer {
        background-color: rgb(48, 45, 45);
        margin: 0%;
        padding: 0;
    }

    /* Service */

    .service {
        width: 100%;
        height: auto;
    }

    h3 {
        color: #020202;
        font-family: 'Times New Roman', Times, serif;
        font-size: 1.5em;
        text-align: center;
    }

    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width: 60%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        border-radius: 10px;
    }

    .card-text {
        padding: 2px 16px;
    }

    /* Contact */
    .name {
        padding: 12px 20px;
    }

    input[type=text] {
        width: 90%;
        padding: 12px 20px;
        margin: 8px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-sizing: border-box;
    }

    input[type=email] {
        width: 90%;
        padding: 12px 20px;
        margin: 8px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-sizing: border-box;

    }

    input[type=time] {
        width: 90%;
        padding: 12px 20px;
        margin: 8px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-sizing: border-box;
    }

    #Details {
        width: 100%;
        padding: 12px 20px;
        margin: 8px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-sizing: border-box;
    }

    #hire-me {
        background-color: #5c5d5e;
        border: none;
        box-shadow: 10px 8px 10px grey;
        border-radius: 18px;
        width: 290px;
        height: 550px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (min-width:768px) {

    /* HOME PAGE */
    .header {
        /* display: flex;  defined by Bootstrap */
    }

    .logo {
        /* width: 9%;
        margin: 12px;   defined by Bootstrap */
    }

    nav li {
        list-style: none;
        font-size: 20px;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        display: inline;
    }

    #nav {
        display: flex;
        flex-direction: row;
        margin-left: auto;
    }

    #nav ul {
        display: flex;
        flex-direction: row;
        margin-left: auto;
    }

    nav li a {
        padding: 14px 16px;
    }

    .landingpage {
        height: auto;
    }

    .me {
        width: 100%;
        height: auto;
    }

    /* ABOUT PAGE */
    .about-wrap {
        height: auto;
    }

    .profile-image {
        width: 100%;
        height: auto;
    }

    .profile-card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        max-width: 400px;
        margin: auto;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .profile-button {
        border: none;
        outline: 0;
        display: inline-block;
        padding: 8px;
        color: white;
        background-color: #000;
        text-align: center;
        cursor: pointer;
        width: 400px;
        font-size: 18px;
    }

    #socials {
        text-decoration: none;
        font-size: 22px;
        color: black;
    }

    /* Service Page */
    .card {
        width: 60%;
        margin: 20px;
        height: auto;
        margin-right: auto;
        margin-left: auto;
    }

    .card-card {
        display: flex;
        flex-direction: row;
    }

    .service {
        width: 50%;
    }

}

@media only screen and (min-width:958px) {

    /* HOME PAGE */
    .landingpage {
        display: flex;
    }

    /* ABOUT PAGE */
    .about-wrap {
        display: flex;
    }

    /* Portfoli Page */
    .portfolio-container {
        display: grid;
        grid-template-columns: 2fr 2fr;
    }

    .portfolio-card {
        margin: 20px;
    }

    /* SERVICE PAGE */
    .card-card {
        flex-direction: column;
    }

    .card-wrap {
        display: grid;
        grid-template-columns: 2fr 2fr 2fr;
    }

    .service {
        width: 100%;
    }
}