h1 {
    font-size: 80px;
    color: #333133;
    font-family: 'Montserrat', sans-serif;
}

h2 {
    font-size: 40px;
    color: #333133;
}

h3 {
    font-size: 20px;
    font-family: monospace;
    color: #333133;
}

.calc {
    background-color: #ff8480;
    color: white;
    padding: 2px 10px;
    border-radius: 4px;
    font-size: 20px;
    font-family: monospace;
    border: none;
    width: 100px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;

}

input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;

}

#phone {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

input[id=Hours] {
    width: 150px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid#cccf;
    border-radius: 8px;
    box-sizing: border-box;
}

input[id=City] {
    width: 250px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid#ccc;
    border-radius: 8px;
    box-sizing: border-box;
}

.drive {
    background-color: #57eeab;
    color: black;
    border-radius: 8px;
    font-size: 40px;
    padding: 3px 12px;
    font-family: 'Montserrat', sans-serif;
    ;
    border: none;
    width: 100%;
}

footer {
    background-color: #fffd8c;
    max-width: auto;
    text-align: left;
    margin: 0 auto;
    padding: 0px;
}

.logo-image {
    width: 100px;
}

.container {
    background-color: #f7f7ff;
}

.apply-form {
    width: 50%;
    background-color: white;
    border: 5px solid white;
    box-shadow: 5px 8px 10px grey;
    border-radius: 10px;
}

.footer-container {
    display: flex;
}

.apply-form a {
    color: red;
}