/* For Mobile */
@media only screen and (min-width:320px) {
    body {
        margin: 0;
    }

    #header {
        background-color: #3c3b3a;
    }


    .topnav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav li a {
        color: #f2f2f2;
        text-decoration: none;
    }

    .topnav li {
        float: none;
        list-style: none;
    }

    /* Removing underline from ul */
    nav ul {
        list-style: none;
        font-size: 20px;
        text-align: center;
        font-family: 'Raleway', sans-serif;
    }

    .logo-image {
        width: 20%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        color: #f2f2f2;
        text-align: center;
        margin: 0;
    }

    h2 {
        color: #3c3b3a;
        font-size: 40px;
        padding: 10px 28px;
        margin: 0;
    }

    h3 {
        color: #26a682;
        font-size: 40px;
        padding: 10px 28px;
        margin: 0;

    }


    p {
        font-size: 20px;
        padding: 10px 28px;
        margin: 0;
    }

    #keep {
        font-size: 25px;
        text-align: center;
        margin: 0;
    }

    .construction {
        width: 70%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .about {
        /* background-image: url(./mtm6201-midterm-master-files/images/about.jpg);
        background-color: #26a682; */
        background:
            /* top, transparent red, faked with gradient */
            linear-gradient(rgba(23, 97, 56, 0.45),
                rgba(1, 41, 19, 0.815)),
            /* bottom, image */
            url(./mtm6201-midterm-master-files/images/about.jpg);
        background-repeat: no-repeat;
        height: 150px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .bar {
        width: 0;
    }

    .bowling {
        width: 0;
    }

    .gym {
        width: 0;
    }

    .rock {
        width: 0;
    }

    .grey {
        background-color: #f2f2f2;
    }

    .container {
        background-color: #3c3b3a;
    }

    .sub {
        background-color: #26a682;
        border-radius: 10px;
        border: none;
        color: #f2f2f2;
        font-size: 25px;
        font-weight: bold;
        width: 40%;
        padding: 8px 20px;
    }

    .sponsors {
        width: 30%;
    }

    #footer-container {
        background-color: #3c3b3a;
        margin: 0;
    }

    .footer {
        color: #f2f2f2;
        text-align: center;
        margin: 0;
    }
}

/* * For Tablet Mockup */
@media only screen and (min-width:768px) {
    #header {
        display: flex;
    }

    .logo-image {
        width: 10%;
        margin: 12px;
    }

    nav li {
        list-style: none;
        font-size: 20px;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        display: inline;
    }

    nav li a {
        padding: 14px 16px;
    }

    .topnav {
        display: flex;
        flex-direction: row;
        margin-left: auto;
    }

    .bar {
        width: 50%;
    }
}