/* For Mobile */
@media only screen and (min-width:320px) {
    #header {
        background-color: #3c3b3a;
    }

    a:link {
        text-decoration: none;
        color: #f2f2f2;
    }

    /* Removing underline from ul */
    nav ul {
        list-style: none;
        font-size: 20px;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    nav ul a {
        color: #f2f2f2;
    }

    .logo-image {
        width: 20%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        color: #f2f2f2;
    }

    h2 {
        color: #3c3b3a;
        font-size: 40px;
    }

    h3 {
        color: #26a682;
        font-size: 40px;
    }


    p {
        font-size: 20px;
    }

    .construction {
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .bar {
        width: 0;
    }

    .bowling {
        width: 0;
    }

    .gym {
        width: 0;
    }

    .rock {
        width: 0;
    }

    .grey {
        background-color: #f2f2f2;
    }

    .container {
        background-color: #3c3b3a;
    }

    .sub {
        background-color: #26a682;
        border-radius: 10px;
        border: none;
        color: #f2f2f2;
        font-size: 25px;
        font-weight: bold;
        width: 39%;
        padding: 8px 20px;
    }

    #footer-container {
        background-color: #3c3b3a;
    }

    .footer {
        color: #f2f2f2;
        text-align: center;
    }
}