/* For Mobile */
@media only screen and (min-width:320px) {
    #header {
        background-color: #3c3b3a;
    }

    a:link {
        text-decoration: none;
        color: #f2f2f2;
    }

    /* Removing underline from ul */
    nav ul {
        list-style: none;
        font-size: 20px;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    nav ul a {
        color: #f2f2f2;
    }

    .logo-image {
        width: 20%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .contact {
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        color: #3c3b3a;
        font-size: 60px;
        font-family: 'Raleway', sans-serif;
        color: #3c3b3a;
        padding: 10px 28px
    }

    h2 {
        color: #f2f2f2;
        font-size: 40px;
        text-align: center;
    }

    h3 {
        color: #3c3b3a;
        font-size: 40px;
        padding: 10px 28px
    }

    p {
        font-size: 20px;
        padding: 10px 28px
    }

    input[type=text] {
        width: 90%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-sizing: border-box;
    }

    input[type=email] {
        width: 90%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-sizing: border-box;

    }

    #Message {
        width: 90%;
        height: 100px;
        padding: 12px 20px;
        margin: 10px 21;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }

    .button {
        font-family: 'Raleway', sans-serif;
        background-color: #3c3b3a;
        color: #f2f2f2;
        border-radius: 20px;
        border: none;
        box-shadow: 10px 8px 10px #3c3b3a;
        font-size: 30px;
        width: 80%;
    }

    .apply-form {
        background-color: #26a682;
        border: none;
        box-shadow: 10px 8px 10px grey;
        border-radius: 18px;
        width: 290px;
        height: 450px;
        margin-left: auto;
        margin-right: auto;
    }

    #footer-container {
        background-color: #3c3b3a;
    }

    .footer {
        color: #f2f2f2;
        text-align: center;
    }
}