/* For Mobile */
@media only screen and (min-width:320px) {
    body {
        margin: 0;
    }

    #header {
        background-color: #3c3b3a;
    }


    .topnav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    nav li a {
        color: #f2f2f2;
        text-decoration: none;
    }

    .topnav li {
        float: none;
        list-style: none;
    }

    .topnav ul {
        display: flex;
    }

    /* adding animation growth and underline to nav links */
    .topnav li:hover {
        transform: scale(1.4);
        text-decoration: underline;
    }

    /* Removing underline from ul */
    nav ul {
        list-style: none;
        font-size: 20px;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .logo-image {
        width: 20%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .contact {
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h1 {
        color: #3c3b3a;
        font-size: 60px;
        font-family: 'Raleway', sans-serif;
        color: #3c3b3a;
        padding: 10px 28px;
    }

    h2 {
        color: #f2f2f2;
        font-size: 40px;
        padding: 10px 22px;
        margin: 0;
    }

    h3 {
        color: #3c3b3a;
        font-size: 40px;
        padding: 10px 22px;
        margin: 0;
    }

    h4 {
        margin: 0;
        font-family: 'Raleway', sans-serif;
        padding: 10px 22px;
    }

    p {
        font-size: 20px;
        padding: 10px 28px;
        margin: 0;
        font-family: 'Raleway', sans-serif;

    }

    .name {
        padding: 10px 22px;
    }

    input[type=text] {
        width: 90%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-sizing: border-box;
    }

    input[type=email] {
        width: 90%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-sizing: border-box;

    }

    #Message {
        width: 100%;
        height: 100px;
        padding: 12px 20px;
        margin: 10px;
        display: inline-block;
        border: 1px solid #ccc;
        border-radius: 10px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
    }

    .button {
        font-family: 'Raleway', sans-serif;
        background-color: #3c3b3a;
        color: #f2f2f2;
        border-radius: 18px;
        border: none;
        box-shadow: 10px 8px 10px #3c3b3a;
        font-size: 30px;
        width: 90%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .apply-form {
        background-color: #26a682;
        border: none;
        box-shadow: 10px 8px 10px grey;
        border-radius: 18px;
        width: 290px;
        height: 485px;
        margin-left: auto;
        margin-right: auto;
    }

    .map {
        margin: 0;
        width: 100%;
    }


    #footer-container {
        background-color: #3c3b3a;
        margin: 0;
    }

    .footer {
        color: #f2f2f2;
        text-align: center;
        margin: 0;
    }

    .arrow {
        float: right;
        width: 4%;
        animation-name: arrow;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }

    @keyframes arrow {
        from {
            transform: scale(1);
        }


        to {
            transform: scale(0.5);
        }
    }
}

/* * For Tablet Mockup */
@media only screen and (min-width:768px) {
    #header {
        display: flex;
    }

    .logo-image {
        width: 10%;
        margin: 12px;
    }

    nav ul {
        list-style: none;
        font-size: 20px;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        display: flex;
        flex-direction: row;
    }

    .topnav {
        display: flex;
        flex-direction: row;
        margin-left: auto;
    }


    nav ul a {
        padding: 14px 16px;
    }

    .apply-form {
        width: 350px;
    }

    .button {
        width: 40%;
        padding: 2px 8px;
        margin-left: auto;
        margin-right: 20px;
    }

    .arrow {
        width: 2%;
    }
}

/* For Desktop Mockup */
@media only screen and (min-width:958px) {
    .body-form {
        display: flex;
    }

    h3 {
        text-align: start;
        padding: 10px 22px;
    }

    h4 {
        padding: 10px 22px;
    }

    .apply-form {
        width: 350px;
        margin-right: 50px;
        margin-top: 40px;
    }

    #loc {
        display: flex;
    }

    .lm {
        width: 50%;
        margin-top: 30px;
        padding: 10px 22px;
    }

    .map {
        height: 280px;
    }
}