/* For Mobile */
@media only screen and (min-width:320px) {
    .logo-image {
        width: 20%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #header {
        background-color: #3c3b3a;
    }

    a:link {
        text-decoration: none;
    }

    /* Removing underline from ul */
    nav ul {
        list-style: none;
        font-size: 20px;
        text-align: center;
        font-family: 'Raleway', sans-serif;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    nav ul a {
        color: #f2f2f2;
    }
    h1{
        font-size: 50px;
        font-family: 'Raleway', sans-serif;
        color:#3c3b3a;
    }
}