/* I choice this css specifity because it's going to be looking for an #id that has the same element */
#nav.nav
{background-color:darkblue;
  width:auto;
  max-width: 1200px;
  padding:0px;
  height: 60px;
}
/* I choice this css specifity because it's going to be looking for an #id that has the same element */
#home.home
{background-color:cyan;
}
/* I choice this css specifity because it's going to be looking for an #id that has the same element */
#main.main
{background-color:cyan;
}
/* I choice this css specifity because it's going to be looking for an #id that has the same element */
#about.about{
    background-color:rgb(13, 52, 223);
}
/* I choice this form of css specifity because it's looking for an element with an id of contact as it's parent and element */
#contact .contact-form{
    background-color:rgb(170, 170, 170);
}
#nav .nav-link{
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h3{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* adding width to the form */
input[type=text] {
    width:95%;
    padding: 8px 10px;
    margin:10px;
    box-sizing: border-box;
  }
  input[type=Email] {
    width:95%;
    padding:8px 10px;
    margin:10px;
    box-sizing: border-box;
  }
  textarea[name=Yourmessage]{
    width: 500%;
    height: 100px;
    padding: 50px;
    margin: 20px;
    box-sizing: border-box;
  }
  button{
    border: 1px solid black;
    font-size: 16px;
    margin: 10px;
  }
  .border{
    border: 1px solid black;
    margin: 50px;
  }
#contact p{
  font-size:25px;
  font-family:Arial, Helvetica, sans-serif;
}
/* making adjusent with the footer, making it to be aligned with the main container and suitable for mobile point of view */
footer{
  background-color:darkblue;
  max-width: 1200px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  margin: 0 auto;
}
#contact .contact-form{
  width: auto;
  background-color:grey;
  max-width: 600px;
}
footer p{
  margin-top:0;
}